html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	overflow-x: hidden;
}

body {
	color: #4e924c;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #b6f4ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #0051ff;
}

a:visited {
	color: inherit;
}

section,
header {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	position: relative;
}

section.half {
	min-height: 50vh;
}

div.content{
	position:absolute;
	z-index: 10;
	width: 100%;
	color: #ffffff;
}

div.background{
	width:100%;
	height:100%;
	position:absolute;
	background-color: #000000;
	overflow: hidden;
}

h1, h2{
	text-align: center;
	margin-bottom: 0;
}
h1 a{
	color: inherit;
}

.notPrinted,
.notPrinted div.content,
.notPrinted a,
.notPrinted a:visited{
	color: #ffffff50;
}

.flexRow {
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;
	align-items: flex-start;
	justify-content: space-evenly;
}

.flexRow>div {
	min-width: 25em;
}

li{
	position: relative;
}

@media (min-width: 800px) {
	div.content{
		width: 90%;
	}
}
@media (min-width: 1000px) {
	div.content{
		width: 900px;
	}
}

@media print{
	section, section.half,
	header {
		min-height: initial;
		background-color: #ffffff;
		border-bottom: #000000 2px solid;
	}
	div.content{
		position: relative;
		color: #000000;
	}
	div.background{
		display: none;
	}
	a,
	a:visited{
		color: #000000;
	}
	h1,
	ul{
		margin: 0.2em;
	}
	.print{
		display: initial !important;
	}
	.notPrinted {
		display: none;
	}
	.skills ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.skills ul li{
		width: 50%;
	}
}

@page {
	size: A4 portrait;
	margin: 10mm;
}
