<script>
    // from https://codepen.io/Mamboleoo/pen/BxMQYQ
</script>

<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<style lang="scss">
@use 'sass:math';
@use 'sass:list';

.background {
  background: #000000;
  filter: brightness(30%);
}

$particleSize: 5em;
$animationDuration: 6s;
$amount: 20;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #583C87,
    #E45A84,
    #FFACAC
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: list.nth($colors, math.random(list.length($colors)));
      top: math.random(100) * 1%;
      left: math.random(100) * 1%;
      animation-duration: calc(math.random(calc($animationDuration / 1s) * 10) / 10) * 1s + 10s;
      animation-delay: calc(math.random(calc(($animationDuration + 10s) / 1s) * 10) / 10) * -1s;
      transform-origin: (math.random(50) - 25) * 1% (math.random(50) - 25) * 1%;
      $blurRadius: (math.random() + 0.5) * $particleSize * 0.5;
      $x: if(math.random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
</style>