<script>
	import { onMount } from 'svelte';
	export let backGroundImgs;

	let currentLogo = 0;

	function scheduleSwitchImg(){
		setTimeout(switchImg,10000)
	}

	function switchImg(){
		let logoElement = document.getElementById('bgLogo')
		currentLogo = ++currentLogo % backGroundImgs.length;
		logoElement.src = backGroundImgs[currentLogo];
		scheduleSwitchImg();
	}

	onMount(async () => {
		scheduleSwitchImg();
	});
</script>

<div class="background">
	{#if backGroundImgs}
		<img src="{backGroundImgs[currentLogo]}" alt="logo" id="bgLogo">
	{:else}
		Erreur de chargement.
	{/if}
</div>

<style lang="scss">
@use "sass:math" as math;

.background > img{
	background: #fff;
	border-radius: 50%;
	filter: brightness(50%);
	box-shadow: #fff 0 0 4em;
	position: absolute;
	animation: 10s linear 0s infinite normal move_logo;
	max-width: 250px;
}

$stepCount: 20;

@keyframes move_logo {
	$PosLeft: -20%;
	$PosBottom: 50%;
	@for $i from 0 through $stepCount{
		$percent: 0% + math.div($i * 100 , $stepCount);
		$PosLeft: $PosLeft + math.div(100% + 35% , $stepCount);
		$PosBottom: math.percentage( math.cos(math.div($i, 2)) * 0.4 + 0.35);
		#{$percent}	{
			left: $PosLeft;
			bottom: $PosBottom;
		}
	}
}
</style>
