<script>
	import { onMount } from 'svelte';

	let backgroundNode;

	function rotateGradient(element){
		const regex = /(\d{1,3})deg/g;
		const currentGradient = getComputedStyle(element)["background-image"];
		const newValue = currentGradient.replace(regex, (match, size) => {
			return (Number(size) + 2) % 360 + "deg";
		});
		element.style["background-image"] = newValue;
	}

	onMount(async ()=>{
		setInterval(()=>{
			rotateGradient(backgroundNode)
		},100)
	})
</script>

<div class="background" bind:this={backgroundNode}>
</div>


<style>
	.background{
		background: linear-gradient(45deg, #001542, #000000 25%, #000000 75%, #213500);
	}
</style>
