<script>
  import { afterUpdate } from 'svelte';
  import microlight from 'microlight';

  const fetchCss = (async () => {
    const request = await fetch(document.styleSheets[0].href, {
      method: 'GET'
    })
    return await request.text()
  })()

  afterUpdate(() => {
    setTimeout(()=>{
      microlight.reset("css microlight")
    },100);
  });
</script>

  <div class="background">

    {#await fetchCss then cssSource}
      <code id="css" class="css microlight">{cssSource}</code>
    {:catch}
      Erreur de chargement.
    {/await}

  </div>

<style>

code{
  white-space: pre;
  position: absolute;
  width: 40%;
  height: 100vh;
  overflow-wrap: anywhere;
}
#css {
    transform: perspective(200px) rotateX(10deg) rotateY(3deg) rotateZ(-20deg) translate(0%, 0%);
    left: 20%;
    top: 0;
}

</style>
