<script lang="ts">
	import { onMount } from 'svelte';
	import type { API, SourceRepository, ResumeData } from "./types/Props";
	import { fromEducationAndCertificates, fromWork, fromSkills, fromInterests, fromVolunteer, fromLanguages, fromProjects } from "./types/Line";
	import { imgListFromSkills } from "./utils";
	import type { RESUME } from "./types/resume";
	import DataList from './DataList.svelte';
	import LinkToSourceCode from './LinkToSourceCode.svelte';
	import QRCode from '@castlenine/svelte-qrcode';
	import persistentStorage from "./urlStore";
	import CreativeCommons from "./CreativeCommons.svelte";

	import SourceCode from './backgrounds/SourceCode.svelte';
	import MovingImg from './backgrounds/MovingImg.svelte';
	import RotatingGradientColor from './backgrounds/RotatingGradientColor.svelte';
	import SquareLinks from './backgrounds/SquareLinks.svelte';
	import Bokeh from './backgrounds/Bokeh.svelte';

	export let api: API;
	export let sourceRepository: SourceRepository;

	let resumePromise:Promise<ResumeData> = new Promise(() => {});

	let print = {
		'skills':{
			'programming':'printed',
			'bicycle':'printed',
			'other':'printed',
		},
		'work':'printed',
		'training':'printed',
		'interests':'printed',
		'volunteer':'printed',
		'languages':'printed',
		'projects':'printed',
	};

	let sections={
		'basics':HTMLElement,
		'skills':HTMLElement,
		'work':HTMLElement,
		'training':HTMLElement,
		'interests':HTMLElement,
		'volunteer':HTMLElement,
		'languages':HTMLElement,
		'projects':HTMLElement,
	}

	let lastScroll=Date.now();
	let scrollTimeOut:number;
	let currentUrl:string=window.location.href.toString();

	function setTitle(myResume: RESUME){
		if(myResume.basics){
			document.title = myResume.basics.name;
		}
	}

	function scrollTo(target:HTMLElement) {
		if (!target) return;
		target.scrollIntoView({
			behavior: 'smooth'
		});
	}

	function parseScroll() {
		let minElapsedMilliSeconds = 300;
		if(Date.now() - lastScroll >= minElapsedMilliSeconds){
			let body=document.getElementsByTagName('body')[0]
			if (!body){
				console.warn('Body not found')
				return;
			}
			Object.keys(sections).forEach(function(key) {
				let section=sections[key];
				if(Math.abs(body.scrollTop - section.offsetTop) <= section.offsetHeight / 2){
					scrollTo(section)
				}
			});
		}else{
			if(scrollTimeOut) clearTimeout(scrollTimeOut)
			scrollTimeOut = setTimeout(()=>{
				parseScroll()
			},minElapsedMilliSeconds)
		}
		lastScroll = Date.now()
	}

	async function fetchResume(){
		const request = await fetch(api.baseURL.href, {
			method: 'GET'
		})
		return await request.json()
	}

	async function parseResume(myResume: RESUME):Promise<ResumeData>{
		let data:ResumeData = {
			"basics" : myResume.basics,
			"skills" : {},
		};
		if(myResume.skills){
			data.skills["programming"]=await fromSkills(myResume.skills, "programming");
			data.skills["bicycle"]=await fromSkills(myResume.skills, "bicycle");
			data.skills["other"]=await fromSkills(myResume.skills, undefined);
			data.skills["img"]=await imgListFromSkills(myResume.skills);
		}
		if(myResume.work)
			data["work"]=await fromWork(myResume.work);
		if(myResume.education && myResume.certificates)
			data["training"]=await fromEducationAndCertificates(myResume.education, myResume.certificates);
		if(myResume.interests)
			data["interests"]=await fromInterests(myResume.interests);
		if(myResume.volunteer)
			data["volunteer"]=await fromVolunteer(myResume.volunteer);
		if(myResume.languages)
			data["languages"]=await fromLanguages(myResume.languages);
		if(myResume.projects)
			data["projects"]=await fromProjects(myResume.projects);
		return data;
	}

	onMount(() => {
		resumePromise = (async ():Promise<ResumeData> => {
			const myResume:RESUME = await fetchResume();
			setTitle(myResume);
			return parseResume(myResume);
		})();
		persistentStorage.subscribe((value)=>{
			currentUrl=persistentStorage.getAsURL().toString();
		});
	});
</script>

<LinkToSourceCode url={sourceRepository.url} host={sourceRepository.host} />

<svelte:body
	on:scroll={parseScroll}
/>

{#await resumePromise}
	<progress></progress>
{:then resumeData}
	<header bind:this={sections.basics}>
		<div class="content">
			<div class="me">
			{#if resumeData.basics}
				<div id="myAdresse">
					<div class="name">
						<h1><a href="mailto:{resumeData.basics.email}" >{resumeData.basics.name}</a></h1>
					</div>
					<div class="print">
						{#if resumeData.basics.location}
						<p>
							{resumeData.basics.location.address}<br>
							{resumeData.basics.location.postalCode} {resumeData.basics.location.city}
						</p>
						{/if}
						<p>
							{#if resumeData.basics.url}
							<a href="{resumeData.basics.url.toString()}">{resumeData.basics.url.toString()}</a><br>
							{/if}
							<a href="mailto:{resumeData.basics.email}">{resumeData.basics.email}</a><br>
							<a href="tel:{resumeData.basics.phone}">{resumeData.basics.phone}</a>
						</p>
					</div>
				</div>
				<div class="intro">
					<p>{resumeData.basics.label}</p>
					<p>{resumeData.basics.summary}</p>
				</div>
				<div id="qrCode">
					{#key currentUrl}
					<a href={currentUrl}>
						<QRCode data={currentUrl} isResponsive={true} isJoin={true}/>
					</a>
					{/key}
				</div>
			{:else}
				<p>Erreur de chargement!</p>
			{/if}
			</div>
		</div>
		<SourceCode />
	</header>
	
	<main>
		<section bind:this={sections.skills}>
			<div class="content skills">
				<h1>Connaissances</h1>
				<div class="flexRow">
					{#if resumeData.skills.programming}
					<div class="{print.skills.programming}">
						<h2>Programmation</h2>
						<DataList lines={resumeData.skills.programming} bind:parentClass={print.skills.programming}/>
					</div>
					{/if}
					{#if resumeData.skills.bicycle}
					<div class="{print.skills.bicycle}">
						<h2>Vélo</h2>
						<DataList lines={resumeData.skills.bicycle} bind:parentClass={print.skills.bicycle}/>
					</div>
					{/if}
					{#if resumeData.skills.other}
					<div class={print.skills.other}>
						<h2>Autres</h2>
						<DataList lines={resumeData.skills.other} bind:parentClass={print.skills.other}/>
					</div>
					{/if}
				</div>
			</div>
			<MovingImg
				backGroundImgs={resumeData.skills.img}
			/>
		</section>

		{#if resumeData.work}
		<section bind:this={sections.work} class="{print.work}">
			<div class="content">
				<h1>Travails</h1>
				<DataList lines={resumeData.work} bind:parentClass={print.work}/>
			</div>
			<RotatingGradientColor />
		</section>
		{/if}

		{#if resumeData.training}
		<section bind:this={sections.training} class="{print.training}">
			<div class="content">
				<h1>Formations</h1>
				<DataList lines={resumeData.training} bind:parentClass={print.training}/>
			</div>
			<SquareLinks />
		</section>
		{/if}

		{#if resumeData.interests}
		<section bind:this={sections.interests} class="half {print.interests}">
			<div class="content">
				<h1>Centres d'intérêt</h1>
				<DataList lines={resumeData.interests} bind:parentClass={print.interests}/>
			</div>
			<Bokeh />
		</section>
		{/if}

		{#if resumeData.volunteer}
		<section bind:this={sections.volunteer} class="half {print.volunteer}">
			<div class="content">
				<h1>Bénévolats</h1>
				<DataList lines={resumeData.volunteer}  bind:parentClass={print.volunteer}/>
			</div>
		</section>
		{/if}

		{#if resumeData.languages}
		<section bind:this={sections.languages} class="half {print.languages}">
			<div class="content">
				<h1>Langues</h1>
				<DataList lines={resumeData.languages}  bind:parentClass={print.languages}/>
			</div>
		</section>
		{/if}

		{#if resumeData.projects}
		<section bind:this={sections.projects} class="half {print.projects}">
			<div class="content">
				<h1>Projets / Réalisations</h1>
				<DataList lines={resumeData.projects}  bind:parentClass={print.projects}/>
			</div>
		</section>
		{/if}
	</main>
{:catch}
	<p>Erreur de chargement!</p>
{/await}

<footer>
	<CreativeCommons />
</footer>

<style>
	main {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 1.7em;
	}

	/* name part */
	.name{
		margin: 0 auto;
		width: fit-content;
	}

	/* introduction text */
	.intro{
		padding: 1rem;
	}
	.intro p{
		font-size:1.5rem;
		margin: 0.2em;
	}
	.me{
		display: flex;
		flex-direction: column;
	}
	.print{
		display:none;
	}
	#qrCode{
		display: none;
	}
	footer{
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		color: white;
		background: black;
	}

	@media print{
		header {
			height: 50mm;
			overflow: hidden;
		}
		main{
			height: 232mm;
			overflow: hidden;
		}
		h1{
			font-size: 1.4rem;
			margin: 0;
		}
		h2{
			font-size: 1.2rem;
			margin: 0;
		}
		#myAdresse{
			width: 7.5cm;
		}
		.intro{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 0.5rem;
		}
		.intro p{
			font-size:1.3rem;
		}
		.me{
			flex-direction: row;
		}
		.me h1{
			margin-top: 1rem;
		}
		.me p{
			margin: 0.5rem 1rem;
		}
		#qrCode{
			display: block;
			width: 40mm;
			height: 40mm;
			padding: 2mm;
		}
		footer{
			height: 8mm;
			position: absolute;
			bottom: 5mm;
			overflow: hidden;
			color: black;
			background-color: #c7c7c7;
		}

	}
</style>
