<div>
    <p xmlns:cc="http://creativecommons.org/ns#" >
        Cette page est sous licence
        <a href="https://creativecommons.org/licenses/by-nd/4.0/?ref=chooser-v1"
            target="_blank"
            rel="license noopener noreferrer" >
            CC BY-ND 4.0
            <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
            alt="CC BY logo">
            <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
            alt="">
            <img src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"
            alt="CC ND logo">
        </a>
    </p>
</div>

<style>
    p{
        margin: 0.2rem;
    }

    a{
        display:inline-block;
    }

    img{
        height:22px!important;
        margin-left:3px;
        vertical-align:text-bottom;
    }
</style>