<script lang="ts">
	import { onMount } from 'svelte';
	import SvelteMarkdown from 'svelte-markdown';
	import type { Line } from "./types/Line";
	import SummaryLine from './SummaryLine.svelte';
	import persistentStorage from "./urlStore";

	export let lines: Line[];
	export let parentClass:string = 'printed';
	let ulElement:HTMLElement;

	function lineClicked(event:UIEvent){
		if(event.target == null){
			return;
		}
		let line = event.target.parentNode;
		togglePrinted(line);
		checkIfAllLineHidden();
	}

	function checkIfAllLineHidden():void{
		// do i need to hide title too ?
		if(ulElement.querySelectorAll("li.printed").length >= 1){
			// print title
			parentClass = 'printed';
		}else{
			// don't print title
			parentClass = 'notPrinted';
		}
	}

	function setNotPrinted(element:HTMLElement):void{
			if(element.id) persistentStorage.add("hideIds", element.id)
			if(element.classList.contains("printed")){
				element.classList.replace("printed", "notPrinted")
			}else{
				element.classList.add("notPrinted");
			}
	}

	function setPrinted(element:HTMLElement):void{
			if(element.id) persistentStorage.remove("hideIds", element.id)
			if(element.classList.contains("notPrinted")){
				element.classList.replace("notPrinted", "printed")
			}else{
				element.classList.add("printed");
			}
	}

	function togglePrinted(element:HTMLElement):void{
		if(element.classList.contains("printed")){
			// switch to not printed
			setNotPrinted(element)
		}else if(element.classList.contains("notPrinted")){
			// switch to printed
			setPrinted(element)
		}else{
			// if no class (= printed) => not printed
			setNotPrinted(element)
		};
	}

	function sortLinesByDate(){
		function getDate(line:Line):Date{
			if(line.startDate){
				return line.startDate;
			}else if(line.endDate){
				return line.endDate
			}else{
				return new Date(0);
			}
		}

		function compare( a:Line, b:Line ) {
			if (getDate(a) < getDate(b)){
				return 1;
			}else if (getDate(a) > getDate(b)){
				return -1;
			}else{
				return 0;
			}
		}

		lines = lines.sort(compare);
	}

	onMount(()=>{
		sortLinesByDate()
		checkIfAllLineHidden()
		}
	);
</script>


{#if lines}
<ul bind:this={ulElement}>
	{#if Array.isArray(lines)}
		{#each lines as line}
		<li	id="{line.id}" class="{persistentStorage.hasKeyVal("hideIds", line.id) ? 'notPrinted' : 'printed'}">
			<button class="printAction notPrinted" on:click={(event) => lineClicked(event)}></button>
			<article>
				{#if Array.isArray(line.details) && line.details.length > 0}
				<details open={line.extended}>
					<summary>
						<SummaryLine line={line} />
					</summary>
						{#if Array.isArray(line.details)}
							{#each line.details as detail}
								<p><SvelteMarkdown source={detail} isInline /></p>
							{/each}
						{/if}
				</details>
				{:else}
				<div class="noDetails">
					<SummaryLine line={line} />
				</div>
				{/if}
			</article>
		</li>
		{/each}
	{/if}
</ul>
{:else}
<progress></progress>
{/if}

<style>
ul{
	list-style: none;
	text-align: left;
}
li:hover>.printAction {
	display: block;
}
.printAction {
	height: 1.5rem;
	width: 1.5rem;
	background-size: contain;
	position: absolute;
	left: -1.5rem;
	background-color: #00000050;
	display: none;
	border: none;
}
li.notPrinted>.printAction {
	/* display action icon */
	background-image: url(/img/printed.png);
}
li.printed>.printAction {
	/* display action icon */
	background-image: url(/img/notPrinted.png);
}
p{
	margin: 0.1em;
}
p:last-child{
	margin-bottom: 0.5em;
}
.noDetails{
	margin-left: 1em;
}

@media Print{
	.printAction{
		display: none !important;
	}
}
</style>
