<script lang="ts">
	import type { SourceRepository } from "./types/Props";
	export let url:URL;
	export let host: string;
</script>

<a href="{url.href}" target="_blank">
	<aside class="view_source">
		<p>Voir le<br>code source<br>sur {host}</p>
	</aside>
</a>

<style>
	.view_source{
		position: absolute;
		z-index: 10;
		top: -5rem;
		right: -9rem;
		width: 8rem;
		transform: rotate(0.125turn);
		padding: 6rem;
		padding-bottom: 0.1rem;
		background: #046236;
		color: #fff;
		text-align: center;
	}
	@media print{
		a{
			display:none;
		}
	}
</style>