<script lang="ts">
    import SvelteMarkdown from 'svelte-markdown';
    import type { Line } from "./types/Line";
    export let line: Line;
</script>

{#if line.startDate || line.endDate}
<span class="date">
    {#if line.startDate}{line.startDate.toLocaleDateString()}{/if}
    {#if line.startDate && line.endDate} - {/if}
    {#if line.endDate}{line.endDate.toLocaleDateString()}{/if}
</span>
{/if}
<SvelteMarkdown source={line.summary} isInline />
{#if line.link && line.link.name}
    <span class="at">@</span>
    {#if line.link.url}
        <a href="{line.link.url.href}" target="_blank">{line.link.name}</a>
    {:else}
        {line.link.name}
    {/if}
{/if}

<style>
    .date{
        font-weight: bold;
        width: 12em;
        display: inline-block;
    }
    .at{
        font-size: 1em;
        color: #2ac6ff;
    }
    
    @media print{
        .at{
            color: #5e5e5e;
        }
    }
    </style>
    